// #define DEBUG // Enable debug commands from EspMQTTClient library

#define DEVICE_NAME "$DEVICE_NAME"
#define WIFI_SSID "$WIFI_SSID"
#define WIFI_PASSWORD "$WIFI_PASSWORD"
#define MQTT_BROKER_HOST "$MQTT_BROKER_HOST"
#define MQTT_BROKER_PORT $MQTT_BROKER_PORT
#define MQTT_BROKER_USERNAME "$MQTT_BROKER_USERNAME"
#define MQTT_BROKER_PASSWORD "$MQTT_BROKER_PASSWORD"
